@charset "utf-8";

/* CONTAINING DIV */
.formContainer{ background-color:#efefef; overflow:hidden; height:1%; padding:10px; font-family:Arial, Helvetica, sans-serif; font-size:70%; line-height:120%;}

/* GLOBALS */
body{ background-color:#000;}
form{ margin:0; padding:0;}
ul{ margin:0; padding:0; list-style:none; overflow:hidden; height:1%; }
fieldset{ margin-bottom:40px; display:block; } /*optional elememt */ 
h2{ font-size:18px;}
ul li ul{ background-color:#F8F3B8}
em{color:#FF0000;}
.form{ background-color:#fff;} 